<div id="home-image-box">
</div>
<div id="home-content-container">
	<div id="home-banner-wrapper">
		Store your life.
	</div>
	<div id="search-bar-wrapper">
		<div id="search-bar-home">
			<%= render :partial=> "/shared/search_bar", :locals => { :showX => false } %>
		</div>
	</div>
</div>