<div id="content-container" style="margin: 20px 0 0 5%">
	<div id="listings">
		<% @listings.each do |listing| %>
			<%= render :partial => 'shared/listing_icon', :locals => { :listing => listing } %>
		<% end %>
	</div>
	<div class="clearfix"></div>
</div>