<div id="form-listing-wrapper">

<div style="margin: 0px auto 0 auto; width: 242px; height:67px; background-image: url(/storable.png)"></div>
<%= render :partial=> "form", :locals => { :listing => @listing } %>

</div>
