<div id="conversations-container" class="profile-section-wrapper ">
	<div id="mailbox" style="width: 800px;">
		<div id="mailbox-nav">
			<span id="toggle-all-messages" class="abutton">All Messages</span>
			<span id="toggle-hosting-messages" class="abutton">Hosting Messages</span>
			<span id="toggle-renting-messages" class="abutton">Renting Messages</span>
			<span id="toggle-starred-messages" class="abutton">Starred Messages</span>
			<span id="toggle-unread-messages" class="abutton">Unread Messages</span>
		</div>
		<div id="conversations">
			<div style="margin: 20px 0 20px 430px">
				<img src="http://oi42.tinypic.com/a0lb90.jpg"></img>
			</div>
		</div>
	</div>
</div>

<script type="text/template" id="conversation-template">
	<div id="[[= id ]] " class="conversation">
		<div class="profile">
			<a href='[[= "/users/"+last_id ]]'>
				<img class="message-photo" src='[[= last_photo ]]' width="50px" height="50px"></img>
			</a>
			<div class="name">
				[[= last_name ]]
			</div>
		</div>
		<div class="other">
			<div class="synopsis">
				<a href='[[= "/conversations/"+id ]]'>
					[[= content ]]
				</a>
			</div>
			<div class="address">
				[[= address ]]
			</div>
		</div>
		<div class="icons">
			<div class="star">
				[[ if(starred){ ]]
					<i class="star-icon icon-star icon-3x"></i>
				[[ } else { ]]
					<i class="star-icon icon-star-empty icon-3x empty"></i>
				[[ } ]]
			</div>
		</div>
		<div class="subject">Regarding: <a href="[[= '/listings/'+listing_id ]]">[[= listing_title ]]</a>
		</div>
		<div class="clearfix"></div>
	</div>
</script>

<script>
	var sub_wrapper = $("#conversations-container");
	$(window).resize(function(){
		var w = $(window).width();
		var newW = Math.floor((w-820)/2);
		sub_wrapper.css("margin-left", newW);
		sub_wrapper.css("margin-top", "20px")
	});
	$(window).trigger("resize");
</script>