<a href='<%= listing_path(listing.id) %>' style="overflow:hidden;"> 
	<div class="listing-icon" style="background-image: url('<%= listing.images.last ? listing.images.last.location : '' %>');">
		<div class="listing-icon-overlay">
			<div class="listing-icon-title">
				<%= listing.title %> 
			</div>
			<div class="listing-icon-price">
				$<%= listing.price %>
			</div>
			<div class"listing-icon-permonth">
				Per Month
			</div>
		</div>
	</div>
</a>