<form action="/search" id="search_form">
	<div class="input-wrapper inline" style="display: inline-block; margin-right: 14px; float: left;">
	  <input type="text" class="location" id="location" autocomplete="on" name="location" placeholder="Where do you need storage?">
	</div>
	<div id="checkinWrapper" class="input-wrapper inline" style="display: inline-block; float: left;">
	  <input type="text" id="checkin" class="checkin search-option ui-datepicker-target" name="checkin" placeholder="Check in">
	  <span class="search-area-icon" id="checkin-icon"></span>
	</div>
	<div id="checkoutWrapper" class="input-wrapper inline" style="display: inline-block; float: left" >
	  <input type="text" id="checkout" class="checkout search-option ui-datepicker-target" name="checkout" placeholder="Check out">
	  <span class="search-area-icon search-area-icon-checkout" id="checkout-icon"></span>
	</div>
	<div id="spaceWrapper" class="input-wrapper inline" style="display: inline-block; float: left;">
	  <input type="text" id="space" name="space" placeholder="Storage Space">
	  <span class="search-area-icon-storage-box"></span>
	</div>
	<div id="miles-container">
	  <div style="margin-top: -20px">
	    <select id="miles" class="miles">
	      <option value="1">1 Mile</option>
	      <option value="2">2 Miles</option>
	      <option value="5">5 Miles</option>
	      <option value="10">10 Miles</option>
	      <option value="25">25 Miles</option>
	      <option value="50">50 Miles</option>
	      <option value="100">100 Miles</option>
	    </select>
	  </div>
	</div>
	<div id="button-wrapper" style="float: left;" >
	  <div class="fancy_btn2 search-submit">
	  	<i class="icon icon-search"></i>
	    SEARCH
	  </div>
	</div>
	<% if showX %>
		<div class="input-wrapper inline">
		  <a href="#close" id="close_search" style="color: #fff; text-decoration: none; font-size: 24px;">X</a>
		</div>
	<% end %>
</form>
<script>
	$("#checkin-icon").click(function() {
		$("#checkin").datepicker("show");
	});
	$("#checkout-icon").click(function() {
		$("#checkout").datepicker("show");
	});
</script>