.listing {
	float:left;
	height: 200px;
	width: 200px;
	margin: 10px 10px 0 10px;
	background-color: #fff; 
	background-size: 200px 200px;
}

#create-listing-wrapper {
	margin: 20px 5% 0 5%;
}

#upload-image {
	margin-top:10px;
}

#submit-listing {
	display: inline;
}

#create-listing-wrapper label {
	display: inline-block;
    float: left;
    clear: left;
    width: 100px;
    text-align: right;
}

#create-listing-wrapper input {
	display: inline-block;
  	float: left;
}